body{
    cursor: url("/src/Images/Cursor.svg"), auto;
}

.container{
    width: 80rem;
    margin: 0 auto;
    margin-top: 3.2rem;
}

/* reusable styles */

.color-black{
    color: #000;
}

.color-red{
    color: #EF4242;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.justify-evenly{
    justify-content: space-evenly;
}

.align-between{
    align-items: space-between;
}

.text-center{
    text-align: center;
}

.decoration-none{
    text-decoration: none;
}

.description{
    width: 40rem;
    height: 11rem;
}

.image{
    width: 100%;
    height: 100%;
}

/* Header */

.navbar{
    /* justify-content: center;
    justify-content: space-between; */
    padding-bottom: 0.25rem;
    border-bottom: 0.03rem solid #000;
}

.navbar a{
    text-decoration: none;
    color: #000;
}

.menu{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    gap:2.5rem;
}

.contact{
    width: 1rem;
    height: 1rem;
}

/* Banner */

.banner{
    margin-top: 3.2rem;
}

.logo1{
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0.94rem;
}

.banner h1{
    margin: 4.2rem;
    line-height: 8.625rem;
}

.cursor_circle1{
    width: 7.5rem;
    height: 7.5rem;
    position: relative;
    right: 16.44rem;
}

.work-logo{
    position: relative;
    top:10rem
}

/* Works */

.work{
    margin-top: 9.88rem;
    gap: 2rem;
}

.nike_arrow{
    width: 2.625rem;
    height: 2.625rem;
}

.nike{
    gap: 1.13rem;
}

.holke_falsa{
    margin-top: 3.13rem;
    margin-bottom: 3.13rem;
}

.sponsors{
    gap:1.88rem 5.13rem;
    /* margin-bottom: 3.62rem; */
}

.services_banner{
    position: relative;
    top: 27rem;
    width: 80rem;
    height: 22.0625rem;
    opacity: 0.1;
    scale: 2.5;
    z-index: -1;
}

.services{
    margin-top: 2.5rem;
    gap: 3.15rem;
}

.cursor_circle2 {
    width: 7.5rem;
    height: 7.5rem;
    position: relative;
    right: 6rem;
}

.about{
    margin-top: 16.5rem;
    margin-bottom: 3.12rem;
    margin-left: 6.75rem;
}

.about-description{
    margin-left: 6.75rem;
}

.about-background{
    margin-top: 4.44rem;
    justify-content: space-between;
}

.team-img{
    margin-right: 6.75rem;
    margin-left: 5.5rem;
}

.background-gradient{
    position: absolute;
    z-index: -1;
    top: 320rem;
}

.mail_logo{
    margin-top: 5.8rem;
    margin-bottom: 2rem;
}

.text_svg{
    margin-top: 2rem;
    margin-bottom: 4.35rem;
}

.mail{
    margin-top: 3.55;
}

.mail_arrow{
    width: 1.3125rem;
    height: 1.3125rem;
}

footer{
    margin-top:6rem;
}

footer a{
    text-decoration: none;
    color: #000;
}

.hover-bold:hover{
    color:#EF4242;
    font-family: "Neue Regular";
}

.hover-arrow:hover::after{
    content: url("/src/Images/Arrow_red.svg");
}

.hover-color:hover{
    color:#EF4242;
}